<?xml version="1.0" encoding="utf-8" ?> 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target xsi:type="File" name="goodsLog" fileName="A:\Nauka\Programowanie\WarehouseAPI\nLogs\goodsLog-${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${message}"/>

    <target xsi:type="File" name="clientLog" fileName="A:\Nauka\Programowanie\WarehouseAPI\nLogs\clientLog-${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${message}"/>

    <target xsi:type="File" name="employeeLog" fileName="A:\Nauka\Programowanie\WarehouseAPI\nLogs\employeeLog-${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${message}"/>
    
    <target xsi:type="File" name="orderLog" fileName="A:\Nauka\Programowanie\WarehouseAPI\nLogs\orderLog-${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${message}"/>
    
    <target xsi:type="File" name="orderDetailsLog" fileName="A:\Nauka\Programowanie\WarehouseAPI\nLogs\orderDetailsLog-${shortdate}.log"
    layout="${longdate} | ${uppercase:${level}} | ${message}"/>
    
  </targets>
  
  <rules>
    <logger name="WarehouseAPI.Services.GoodsService" minlevel="Trace" writeTo="goodsLog" />

    <logger name="WarehouseAPI.Services.ClientService" minlevel="Trace" writeTo="clientLog" />

    <logger name="WarehouseAPI.Services.EmployeeService" minlevel="Trace" writeTo="employeeLog" />
    
    <logger name="WarehouseAPI.Services.OrderService" minlevel="Trace" writeTo="orderLog" />
    
    <logger name="WarehouseAPI.Services.OrderDetailsService" minlevel="Trace" writeTo="orderDetailsLog" />
  
  </rules>
</nlog>

